@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic');
$fira:'Fira Sans';
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400&subset=cyrillic-ext');
$rc: 'Fira Sans Extra Condensed';






@import "includes/normalize";
@import "includes/animations";
@import "includes/grid";
@import "includes/slider";


@import "includes/mobile";
@import "includes/admin";


@import "includes/boxbuilder";
@import "includes/giftcards";
@import "includes/boxpage";


@import "includes/newcorp";
@import "includes/tooth";
@import "includes/wine";

//@import "includes/pay";


