

.ui-content{padding:0 6px 6px 6px!important; margin-top: 0px!important;}
.ui-content_prod{padding: 0px!important; margin-top: 0px!important; position: relative!important; min-height: 100%!important}
.ui-content_cart{padding: 5px!important; margin-top: 8px!important;}







.mobile_body{
	background: red!important;
}


.box_mobile{width: 96%; position: relative; background: #fff!important; border-radius: 4px; border:1px solid #E5E6E8;  box-sizing: border-box; margin:0 auto 16px auto; }

.box_mobile2{width: 100%; position: relative; margin:0 auto; }

.box_mobile_full{width: 100%; position: relative; background: #fff; box-sizing: border-box; padding: 0px 10px 20px 10px;}
.prod_big_title_mob{font-size: 20px; padding-top: 20px;}


.full_mob{background: olive; position: relative;}


.mob_hero{background: #fff center center no-repeat; background-size:cover; width: 100%; height: 10px;  border-radius:4px 4px 0 0; box-sizing: border-box;}



.navbox{background: #232323; color:#fff; width: 100%; height: 100%; position: fixed; z-index: 100500;}

.noflow{overflow: hidden;}


$micon: 36px;
$minus: ($micon*2)+40px;

.mobile_top{padding: 10px 0; background: #fff!important; text-align: center; font-size: 0; border-top:0px solid #599AD8!important; opacity: 1!important; box-shadow: 0 0 7px rgba(0,0,0,0.23);}


.nav_btn{display: inline-block; vertical-align: middle; position: relative; width: $micon; height: $micon; background: transparent; margin-left: 5px;}


.m_burger{width: 100%; height: 100%; background:  url() center center no-repeat; position: absolute; left:0;}

.m_back{width: 100%; height: 100%; background: url() center center no-repeat; position: absolute; left:0; display: none;}
.m_back_cart{width: 100%; height: 100%; background: url() center center no-repeat; position: absolute; left:0; display: none;}
.m_close{width: 100%; height: 100%; background: url() center center no-repeat; position: absolute; left:0; display: none;}


.m_logo{display:inline-block; vertical-align: middle; width: calc(100% - 84px);  height: $micon; }

.m_cart{display: inline-block; vertical-align: middle; width: $micon; height: $micon; background: url(../images/svg/cart.svg); margin-right: 5px; position: relative;}

.m_logo_pic{width: 60%; max-width: 180px; height: 100%; position: relative; background:  url(../images/svg/logo.svg) center center no-repeat; background-size: cover; margin: 0 auto;}

.cart_dot{width: 7px; height: 7px; background: #599AD8; margin-left: 20px; margin-top: 7px; border-radius: 1000px; position: absolute; border:2px solid #fff;}



.mob_navigate{width: 102%; min-height: 100%; background:#fafbfc; color:#232323; position: fixed; top:0; z-index: 100400; box-sizing: border-box; padding: 54px 20px 0 20px;}
.inside_nav{position: relative; width: 100%; height: 100%; background: transparent;}
.scrollable{max-height:100%;overflow:auto; background: transparent; width: 110%; padding: 20px 30px 30px 0; box-sizing: border-box;}

////////////////


.hide{display: none!important;}

.mob_hero_full{border: none!important; background: url() center center no-repeat; background-size: cover;}


///
.prod_loader{width: 100%; height: 100%;  position: fixed; background: #EBECED; z-index: 100300;}
.inloader{padding-top: 100px;}


.nav_box_mob{text-transform: uppercase;  margin-bottom: 50px;}
.nav_title_mob{margin-bottom: 6px; color:#63697a; font-size: 12px; font-weight: bold;}
.nav_menu_mob{
 ul{margin: 0!important; padding: 0!important;
	 li{list-style: none;  text-transform: capitalize; border-bottom: 1px solid #eee;  font-size: 13px; padding: 18px 10px; color:rgba(0,0,0,0.64);}
	 li:first-child { 
    border-top: 1px solid #eee;
}
 }	
}
.active_nav_mob{color:#229fff!important;  }


.btn2smob{color:#fff!important; cursor: pointer;  box-sizing: border-box;
	text-align: center; font-weight: 700; border-radius: 4px; height: 50px; font-size: 18px; line-height: 48px;
	
border: 1px solid #568342;
border-top-color: #588446;
border-bottom: 1px solid #3e6b32;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
background-image: linear-gradient(to bottom, #75ad5e, #639b4e);
}


.btn2smob_cancel{color:#9D9EA0!important; cursor: pointer;  box-sizing: border-box;
	text-align: center; font-weight: 700; border-radius: 4px; height: 50px; font-size: 18px; line-height: 48px;
	
border: 1px solid #9D9EA0;
//border-top-color: #ff303f;
//border-bottom: 1px solid #3e6b32;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.20);
background-image: linear-gradient(to bottom, #F9FDFF, #C2C2C4);
}

.btn2smob:hover{background-image: -webkit-linear-gradient(top, #80C06B, #64A350);}

.btn2smob_oneclick{
	font-size: 14px;
}


.mob_one_click_menu{width: 100%; height: 100%; top:0; position: fixed;z-index: 100500; background: rgba(0,0,0,0.7);}

.mob_one_click_menu_inner{position: absolute; bottom: 0; height: auto; width: 100%; box-sizing: border-box; padding: 10px; background: #fff;     box-shadow: 0 0 7px rgba(0,0,0,.23);  }

.mob_one_click_res{position: relative; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
.mob_one_click_answer{
	text-align: center; line-height: 22px;
	color:#fff;
	font-size: 16px;
	position: absolute;
	width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.selbox_m{
	padding: 0;
    margin: 0;
    border: 1px solid #DFE0E2;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position:relative;
    box-sizing: border-box;
    background: #F8F8F8 url("../images/svg/sel.svg") no-repeat right center;
}
.selbox_m select {
color:rgba(0,0,0,0.64);
    padding: 7px 40px 7px 8px;
    width: 110%;
   border:none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.selbox_m select:focus {
    outline: none;
}

.box_parts{line-height: 22px; margin-top: 5px;}

.desc_small_mob{background: #fafbfc; box-sizing: border-box; padding: 20px 10px; border-top:1px solid #eee; border-bottom:1px solid #eee;}


.main_img_mob{position: relative; width: 100%; background: #fff!important; }
.fixblock{background: #fff; position: relative; width: 100%; }

/////cart

.inbox_title_mob{padding: 10px; box-sizing: border-box; text-transform: uppercase; text-align: left; border-bottom: 1px solid #eee; font-weight: bold; font-size: 11px; }

.mob_inp{
	/* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Then Style */
     
	padding: 24px 10px; font-size: 12px; border:1px solid #ddd; background: #FAFBFC;  width: 100%; border-radius: 5px; box-shadow: none;}
	
	/////cart item
	.cart_item_mob{border-top:1px solid #eee; box-sizing: border-box; padding: 20px 5px; width: 100%;  font-size: 0;}
	.cart_pic_mob{width: 12%; height: 4px; background: red;}
	.cart_item_title_mob{background: transparent; width: 51%; font-size: 11px; font-weight: bold; padding: 0 10px 0 5px; box-sizing: border-box; color:#5E9AD6; }
	.cart_amount_mob{background: rgba(0,0,0,0.25); border-radius: 3px; font-size: 9px; color:#fff; width: 12%; text-align: center; font-weight: normal;
		span{font-weight: bold!important}
	}
	.cart_end_price_mob{background: transparent; width: 26%; text-align: right; font-weight: bold; font-size: 11px;}
	.cart_item_remove_mob{background: transparent; width: 11%;}
	.cart_remove_icon{width: 12px; height: 12px; float:right; background: url('../images/svg/remove2.svg') center center no-repeat; background-size: cover;}
	
	
	.cart_hider{width: 100%; height: 100%; position: absolute; background: #fff; top:0; left:0; z-index: 100300;}
	.cart_action{width: 100%; height: 100%; position: absolute; background: transparent; top:0; left:0; z-index: 100200;}
	
.overlay{position: fixed; width: 100%; height: 100%; background: rgba(0,255,0,0.0); z-index: 100600;}	
.vivus_ok{width: 100px; height: 100px; background: rgba(0,0,0,0.3); border-radius: 4px; position: absolute; left:50%; top:50%; margin-left: -50px; margin-top: -50px;}

////
.all_price_mob{ width: 60%; position: relative; }
.price_and_share{margin-top: 15px; font-size: 0;}
.price_mob{font-size: 22px; font-weight: 900; margin-top: 0px;  width:100%;
	span{font-size: 14px;}
}
.share_link_mob{width: 40%;  text-align: right; }
.copy_share{border:1px solid #eee; border-radius: 4px; display: inline-block; padding: 10px 18px; text-transform: uppercase; font-weight: bold; font-size: 11px; color:rgba(0,0,0,0.44);}	


.discount_mob{color:#dd2e2e!important;}

//order
.cart_title_mob{
	box-sizing: border-box;
	text-align: center;
width: 100%; 
position: relative;
font-size: 15px;
font-weight: bold;
color: #4E5263;
text-shadow: 0 1px rgba(255, 255, 255, 0.5);
line-height: 20px;
padding: 13px 17px;
margin-bottom: 18px;
border-radius: 3px;
box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);
background: linear-gradient(top, #F4F5F6, #EEEFF0);
}
.o_title_mob{width: 100%!important; margin: 0 auto 10px auto; text-align: center!important; }
.order_mob{width: 100%; margin: 0 auto;}


.order_key_mob{width: 100px; font-weight: bold; margin-right: 20px; font-size: 11px;}
.order_val_mob{color:rgba(0,0,0,0.64); font-size: 11px;
	p{margin: 0 0 2px 0!important;}
}



.main_loader{position: fixed; width: 100%; height: 100%; background: #EBECED; z-index: 100400;}

.main_loader_spinner{width: 140px; height: 140px; background: transparent; position: absolute; top:50%; left: 50%; margin-left: -70px; margin-top: -70px;}
