$pw:360px;


html, body{position: relative; background: #fff; font-family: 'Helvetica', 'Arial'}

.innerpay{width: $pw; margin: 0 auto 100px auto; position: relative; background: #fff; padding-top: 40px;}

.pay_logo{width: 100px; height: 100px; background: url('http://donate.we.ua/pics/logo_square.jpg') center center no-repeat; background-size: cover; margin: 0 auto 10px auto;}
.come_on{margin-bottom: 30px; text-align: center; font-weight: bold; font-size: 16px; color:#666;}

.payform{ min-height: 100px;}

.pay_input_box{font-size: 0;}
.payinp{font-size: 18px; height: 50px; box-sizing: border-box; width:$pw; outline: none; padding: 0 20px; font-weight: bold; text-align: center; border-radius: 4px; border:1px solid #ccc; color:666;}

.payinp:focus{border:1px solid #78B839!important; box-shadow: 0 0 7px rgba(120,184,57,0.43);}
.payinp:focus::-webkit-input-placeholder {color: transparent}
.payinp:focus::-moz-placeholder          {color: transparent}
.payinp:focus:-moz-placeholder           {color: transparent}
.payinp:focus:-ms-input-placeholder      {color: transparent}


.pay_btn{width: $pw; height: 50px; background: #78B839; text-align: center; line-height: 50px; cursor: pointer; font-size: 18px; font-weight: bold; border-radius: 4px; color:#fff;}

.pay_subs{background: transparent; margin-top: 0px; font-size: 0;}
.one_sub{background: transparent; width: ($pw/2) - 12px; margin-bottom: 20px; height: 60px; text-align: center; line-height: 60px; color:#78B839; border:1px solid #78B839; border-radius: 4px; font-weight: bold; cursor: pointer;  font-size: 18px;}
.one_sub:nth-child(even){margin-left: 20px;}

.active_pay{background: #78B839!important; color:#fff;}

.pay_checkbox{ margin: 30px auto; padding: 30px 0; border-top:1px solid #eee; border-bottom:1px solid #eee;}

.pay_ch{width: 24px; height: 24px; background: #fafbfc; border:2px solid #78B839; border-radius: 1000px; cursor:pointer;}
.pay_ch_anno{width: $pw - 48px; margin-left: 20px;}
.active_checkbox{background: #78B839 url('http://donate.we.ua/pics/checkbox.svg') center center no-repeat;}


.anno100{font-size: 11px; margin-top: 3px; text-align: center;}
.redalert{color:#ff303f;}

.liqpay{width: 200px; margin: 50px auto; position: relative; text-align: center;}

.lp{width: 80px; height: auto;}
.donate_anno{font-size: 11px;}

.pay_end{width: 100%; height: 50px;}