@font-face {
  font-family: 'LemonTuesday';
  src: url('../fonts/LemonTuesday.eot?#iefix') format('embedded-opentype'),  url('../fonts/LemonTuesday.woff') format('woff'), url('../fonts/LemonTuesday.ttf')  format('truetype'), url('../fonts/LemonTuesday.svg#LemonTuesday') format('svg');
  font-weight: normal;
  font-style: normal;
}

#todownx{position: absolute; width: 40px; height: 40px; left:50%; margin-left: -20px; bottom:5%; background: rgba(0,0,0,0.1); border-radius: 1000px; cursor:pointer;}
.tooth_inscroll{background: url('../images/tooth/scrolldown.png') center center no-repeat; background-size: cover; position: absolute; width: 40px; height: 40px; cursor:pointer; }

//.corp_page{background: transparent; width: 100%; position: relative;}
.tooth_top{position: absolute; padding: 20px 0; width: 100%; background: rgba(0,0,0,0.0); top:0; z-index: 100500;}

.tooth_top_left{display:inline-block; vertical-align: middle; width: calc(50% - 2px); box-sizing: border-box; padding-left: 50px;}
.tooth_top_right{display: inline-block; vertical-align: middle; width: calc(50% - 2px); box-sizing: border-box; text-align: right; padding-right: 50px; 
	ul{
		li{display: inline; margin-left: 20px;
			a{color:#fff; font-family: 'PB'}
		}
	}
}

.tooth_top_center{ margin: 0 auto; text-align: center;}

.tooth_hero_pic{background: url('../images/tooth/tx3.png') center center no-repeat; position: relative; width: 100%; height: 100%; background-size: 35% auto; //background-blend-mode: darken;
	}

.tooth_hello{width: 100%; height: calc(100% + 0px); min-height: 100%; position: relative; 
	//background-image: url('../images/tooth/pattern_light.png');
	background-size: 10% auto;
	//background-image: radial-gradient(circle, #E74536, #4568dc) , url('../images/tooth/testtooth.png'); 
	//background-size: cover, 30% auto; background-repeat: no-repeat, no-repeat;  
	background-color:#34588A;
	
	//background-blend-mode: darken, darken; 
//background-position: center center, center center; 
//background:url('http://img07.tooopen.com/images/20170301/tooopen_sy_200136351942.jpg') center center no-repeat;
//background-size: cover; 
}
.tooth_inhello{position: relative; width: 100%; height: 100%; 
	 //background: linear-gradient(#229fff, #212441);
	 background: url('../images/tooth/pattern_blue.png') center bottom;
}

.tooth_inhello_middle{
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#229fff; font-family: 'PB';
}

.tooth_main_hello{font-size: 60px; line-height: 70px; font-family: 'PB'; text-align: center; color:#49adf9;}
.tooth_other_hello{font-size: 27px; line-height: 30px; text-align: center; font-family: 'PR'; color:#282B48;}


.tooth_section{padding: 0px 0 0px 0; position: relative;}
.tooth_headings{margin: 0 auto; width: 50%; box-sizing: border-box; padding-top: 20px;
	h1{text-align: center; font-family: 'PB'; font-weight: normal; font-size: 50px; color:#30588B;}
}







.tooth_full_box{width: 900px; height: auto; background: transparent; position: relative; margin: 0 auto;}
.simplebox{width: 100%; height: auto;}
/*
.tooth_belt{width: 808px; height: 259px; position: absolute; background: rgba(255,0,0,0.3); margin: 511px 0px 0 98px;}

.tooth_overlogo{width: 100%; height: 100%; background: url('../images/newcorp/overlay.png') center center no-repeat; position: absolute; z-index: 1001; opacity: 1}
.tooth_logo{width: 100%; height: 100%; background: none; position: absolute; z-index: 1000;}
*/
//.inside_logo{width: 100%; height: 100%; position: relative;}

.tooth_text_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px; 
  font-family: 'PB';
  color:#fff;
  text-shadow: 0px 0px 0px black, 0 0 1em #eee;
}


.tooth_belt_a{position: absolute; width: 100%; height: 100%; background: #624D97;}
.tooth_belt_b{position: absolute; width: 100%; height: 100%;}

.tooth_box_data{width: 680px; margin: 0px auto 140px auto; color:rgba(0,0,0,0.44);}
.tooth_box_title{font-family: 'PB'; font-size: 20px; margin-bottom: 10px;}
.tooth_box_all_parts{font-size: 0;}
.tooth_box_part{width: calc(56% - 1px); box-sizing: border-box;}
.tooth_box_part:last-child{border-left: 1px solid #eee; padding-left: 30px; width: calc(44% - 1px);}
.tooth_box_part_x{width: 49%;}





.tooth_drinks{position: relative; font-size: 0; width:1000px;  margin: 20px auto;}
.tooth_one_drink{width: 25%; display: inline-block; vertical-align: top; font-size: 12px; }
.flexpic{width: 100%; height: auto;}
.tooth_drink_anno{text-align: center; box-sizing: border-box; padding: 0 5%; margin-top: 0px; font-size: 14px; font-family: 'PB'; color:#34588A;}

.minianno{font-family: 'PL'!important;}

.tooth_3d_control{width: 270px; margin: 20px auto 0px auto; font-size: 0; border-radius: 4px; height: 40px; background:transparent;}
.abs_control{margin-top: 0px; z-index: 100400; position: absolute; width: 270px;  background: rgba(0,0,0,0.0); height: 40px; border-radius: 1000px; overflow: hidden;}
.incontrol{display: inline-block; vertical-align: middle; width: calc(100% / 3); font-size: 14px; text-align: center;}
.rotate_anno{font-size: 12px; color:#34588A; text-align: center; font-family: 'PR'; background: transparent;}

/*
	Sets the style of the image slider wrapper <div> to be centered horizontally and vertically.
	It also sets its default dimensions and the overflowing hidden (to fix the IE image positioning bug).
*/

.toothbuy{background: #202442 url('../images/tooth/pattern19x.png'); width: 100%; position: relative; overflow: hidden; min-height: 200px;
transform:skew(0deg,-4deg);	
}

.tooth_buy_section{transform:skew(0deg,4deg); width: 800px; min-height: 100px; margin: 5% auto 4% auto; text-align: center;}
.buy_tooth{color:#fff; width: 100%; font-size: 40px; font-family: 'PL';}

.tooth_icon{width: 200px; height: 200px; background: url('../images/tooth/tooth_icon.svg'); margin: 50px auto 30px auto;}
.tooth_plus{text-align: center; font-size: 120px; font-family: 'PL'; line-height: 100px; color:#fff;}
.tooth_sel{width: 300px; margin: 30px auto 30px auto; min-height: 40px; box-sizing: border-box; background: rgba(0,0,0,0.2);}


.tooth_total{border-top:1px solid #f05143; border-bottom:1px solid #f05143; font-size: 30px; color:#fff; text-align: center; font-family: 'PB'; padding: 0px 0; margin: 70px auto;}

.tooth_totalbox{font-size: 30px; text-align: center; font-family: 'PL'; margin: 30px auto; border-bottom: 1px solid rgba(255,255,255,0.1); width: 300px; padding: 20px 0 40px 0; color:#fff;}
#tooth_tot_x{font-family: 'PB';}
#total_cur_x{font-family: 'PB'; font-size: 14px;}


.tooth_action{width: 300px; margin: 20px auto 80px auto; position: relative;}

.tooth_disable{position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.2); border-radius: 3px;}

.tooth_btn{background: #037cd8; color:#fff;  font-family: 'PB'; font-size: 20px; box-sizing: border-box; padding: 20px 0; border-radius: 3px; cursor: pointer; transition: background 0.3s;}
.tooth_btn:hover{background: #229fff;}

.tooth_btn_dis{color:#34588A!important;  background: transparent!important;}



.tooth_post_diag{position: relative; overflow: hidden; width: 100%; height: 100px; background: transparent;}
.tooth_post_diag_color{position: relative; overflow: hidden; width: 100%; height: 100px; background: url('../images/tooth/pattern_blue.png') center top;}


.in_diag_up{
	background: #fafbfc; width: 100%; position: absolute; overflow: hidden; height: 100px; top:-50px;
transform:skew(0deg,-3deg);
}

.in_diag_down{
	background: #fafbfc; width: 100%; position: absolute; overflow: hidden; height: 100px;  top:50px;
transform:skew(0deg,-3deg); 
}

.changediag{transform:skew(0deg,2deg);}
.transformme{ transition: transform 2s;}

.tooth-select-style {
    border: 3px solid #229fff;
    width: calc(100% - 6px);
    border-radius: 3px;
    overflow: hidden;
    background: url("../images/tooth/sel_s.svg") no-repeat 99% 50%;
    text-align: center;
    
}

.tooth-select-style select {
	//box-sizing: border-box;
    padding: 14px 12px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color:#229fff;
    font-family: 'PB';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.tooth-select-style select:focus {
    outline: none;
}

.tooth_field{
	border:none;
	border-bottom: 2px solid #229fff;
    width: calc(280px - 6px);
    border-radius: 0px;
    overflow: hidden;
    color:#fff;
    font-family: 'PB';
    font-size: 18px;
    line-height: 22px;
    padding: 0px 12px 5px 12px;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
    
}

.tooth_client_data_all{width: 300px; margin: 0 auto 60px auto; height: 90px; position: relative;}
.tooth_thanx{position: absolute; width: 100%; height: 100%; z-index: 1000;}
.tooth_inthanx{position: relative; width: 100%; height: 100%; background: #229fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 4px;
	color:#fafbfc;
	font-family: 'PB';
	font-size: 16px;
	line-height: 18px;
}
.tooth_all_ok{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooth_footer{font-size: 14px; margin-top: 50px; width: 100%; text-align: right; box-sizing: border-box; padding-right: 70px; padding-bottom: 70px;
	ul{margin: 0px!important; padding: 0!important;
		li{display: inline-block; vertical-align: middle; font-size: 13px; font-family: 'PB'; margin-left: 30px;
			a{color:#229fff; text-decoration: none;}
		}
	}
}

.dpic{background: #eee; position: relative;  margin: 40px auto 0 auto; width: 600px;}


.threesixty {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.threesixty .threesixty_images {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.threesixty .threesixty_images img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
.threesixty .threesixty_images img.previous-image {
  visibility: hidden;
  /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */

}
.threesixty .threesixty_images img.current-image {
  visibility: visible;
  /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */

}
.threesixty .spinner {
  width: 60px;
  display: block;
  margin: 0 auto;
  height: 30px;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.threesixty .spinner span {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  display: block;
}
.threesixty .nav_bar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;
}
.threesixty .nav_bar a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  background: url(/assets/sprites.png) no-repeat;
  text-indent: -99999px;
}
.threesixty .nav_bar a.nav_bar_play {
  background-position: 0 0 !important;
}
.threesixty .nav_bar a.nav_bar_previous {
  background-position: 0 -73px !important;
}
.threesixty .nav_bar a.nav_bar_stop {
  background-position: 0 -37px !important;
}
.threesixty .nav_bar a.nav_bar_next {
  background-position: 0 -104px !important;
}
/* html */
.threesixty:-webkit-full-screen {
  background: #ffffff;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-top: 200px;
}
.threesixty:-moz-full-screen {
  background: #ffffff;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-top: 200px;
}


@media only screen and (max-width: 1000px) 
{
	
	.tooth_hero_pic{background: url('../images/tooth/tx3.png') center center no-repeat; position: relative; width: 100%; height: 100%; background-size: 75% auto; //background-blend-mode: darken;
	}
	
	
	
	 .tooth_headings{margin: 0 auto; width: 90%; box-sizing: border-box; padding-top: 20px;
	   h1{text-align: center; font-family: 'PB'; font-weight: normal; font-size: 40px; color:#30588B;}
	  }
	  
	  
	  .dpic{background: #eee; position: relative;  margin: 40px auto 0 auto; width: 100%;}
	  .incontrol{display: inline-block; vertical-align: middle; width: calc(100% / 3); font-size: 14px; text-align: center;}
	  //.tooth_3d_control{width: 270px; margin: 20px auto 0px auto; font-size: 0; border-radius: 4px; height: 40px; background:transparent;}
	  
	  .tooth_drinks{position: relative; font-size: 0; width:100%;  margin: 0px auto;}

	  .tooth_one_drink{width: 50%; display: inline-block; vertical-align: top; font-size: 12px; margin-bottom: 20px; }
	  	//.flexpic{width: 100%; height: auto;}
	  	
	  	.tooth_full_box{width: 100%; height: auto; background: transparent; position: relative; margin: 20px auto;}
	  	
	  	
.tooth_box_data{width: 80%; margin: 0px auto 140px auto; color:rgba(0,0,0,0.44);}
.tooth_box_part{width: 100%; box-sizing: border-box;}
.tooth_box_part:last-child{border-left: 0px solid #eee; padding-left: 0px; width: 100%; margin-top: 20px;}
.tooth_buy_section{transform:skew(0deg,4deg); width: 100%; min-height: 100px; margin: 5% auto 4% auto; text-align: center;}

.tooth_footer{font-size: 14px; margin-top: 50px; width: 100%; text-align: center; box-sizing: border-box; padding-right: 0px; padding-bottom: 70px;
	ul{margin: 0px!important; padding: 0!important;
		li{display: none; vertical-align: middle; font-size: 13px; font-family: 'PB'; margin-left: 0px;
			a{color:#229fff; text-decoration: none;}
		}
		li:last-child{display: inline-block;}
	}
}

 }
